.nav {
  padding: 0 10vw 0 10vw;
  color: #f4Fafa;
  background: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  align-self: flex-start;
  color:#61dafb;
}

.nav-link-group {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 3vw;
}

.nav-link {
  margin: 10px;
  color: #f4Fafa;
  text-decoration: none;
}

.nav-link:hover {
  color: #61dafb;
}

