.product-list {
  width: 80vw;
}

.list-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search {
  height: 34px !important;
  width: 120px !important;
  border-radius: 4px;
  text-decoration: none;
}
/*
.item-header {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.item-description {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.sort {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 1;
} */
