.product-list {
  width: 80vw;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*
.item-header {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.item-description {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.sort {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 1;
} */
