<div class="container product-list">
  <div class="search-bar">
    <div>
      <label for="category-search">Search by Category:</label>
      <select id="sort-category">
          <option value="cat" selected>choose category</option>
          <option value="cat" *ngFor="let cat of categories">{{cat}}</option>
      </select>
      <label for="search">Search by Name:</label>
      <input id="search" name="search" type="text" [(ngModel)]="search">
    </div>
    <button type="button" routerLink="/checkout">Checkout</button>
  </div>
  <div class="list-header">
    <h4 class="item-header">Item</h4>
    <h4 class="item-description">Information</h4>
    <div class="sort">
      <label for="sort-price">Sort By Price:</label>
      <select id="sort-price" [(ngModel)]="direction">
        <option value="asc" selected>Low to High</option>
        <option value="desc">High to Low</option>
      </select>
    </div>
  </div>
  <div *ngFor="let item of productList | searchPipe:search | sortPrice:direction">
    <app-item [product]="item"></app-item>
  </div>
</div>
