<section class="card">
  <div class="item-img">
    <img class="responsive-img" src="{{product.imgUrl}}" alt="">
  </div>
  <article class="item-info">
    <h4>{{product.title}}</h4>
    <h5>Price: ${{product.price | currency}}</h5>
    <p>Description: {{product.description}}</p>
  </article>
  <div class="item-actions">
    <div class="qty-actions">
        <label for="selectedQty">Qty:</label>
        <input type="number" name="selectedQty" [(ngModel)]="product.selectedQty">
        <button class="card-action" type="button" (click)="onAddToBag()">Add to Bag</button>
    </div>
    <h5 class="out-notify" *ngIf="!product.inStock">Out of Stock</h5>
  </div>
</section>
